/**********************************************************************************************
**********************************GENERAL STYLES **********************************************
**********************************************************************************************/
body{
    font-family: Lato, sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection{
    background: rgba(0,0,0, .5);
    color:#FFF;
    
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0, .2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0,0, .7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0,0,0, .3 );
}

/**********************************************************************************************
**********************************HELPER CLASSES **********************************************
**********************************************************************************************/
.container{
    width: 770px;
    margin: 0 auto;
}
.container-fluid{
    width : 100%;
    padding : 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix::after,
.row::after{
    content: '';
    display: block;
    clear: both;
}

.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.3%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding,
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
    
}
.pull-left{ float: left; }
.pull-right{ float: right; }
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.p-0{padding: 0;}
.p-10{padding: 10px;}
.p-20{padding: 20px;}
.p-30{padding: 30px;}
.p-40{padding: 40px;}
.p-t-10{padding-top: 10px;}
.p-b-10{padding-bottom: 10px;}
.m-0{margin: 0px;}
.m-10{margin: 10px;}
.m-20{margin: 20px;}
.m-30{margin: 30px;}
.m-40{margin: 40px;}
.m-t-0{margin-top: 0;}

.img-responsive {width: 100%;}
/**********************************************************************************************
**********************************NAVBAR CLASSES **********************************************
**********************************************************************************************/

.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-dark{
    background: #000;
    color:#FFF;
}
.navbar-blue{
    background: #0077B6;
}
.menu, .sub-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.sub-menu{
    display: none;
}
.menu .menu-item{
    display: inline-block;
    text-transform: uppercase;
}
.menu .menu-item a{
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}
.has-sub-menu{
    position: relative;
}
.has-sub-menu:hover .sub-menu{
    display: block;
}
.has-sub-menu .sub-menu-list{
    position: absolute;
    left: 0;
    background: #FFF;
    color: #000;
    width: 160px;
}
.sub-menu-list .sub-menu .menu-item{
    text-transform: capitalize;
    display: block;
}
.sub-menu-list .sub-menu .menu-item a{
    display: block;
}
.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited{
    color: #FFF;
}
.navbar-dark .menu .menu-item a:hover,
.navbar-dark .menu .menu-item.has-sub-menu:hover>a{
    background: #CCC;
    color: #333;
}

.navbar-blue .menu .menu-item a:hover{
    background: #FC3;
}
.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited {
    color: #333;
}
.search-box{
    padding: 0 20px;
}
.search-box:hover{
    background: red;
    cursor: pointer;
}
/**********************************************************************************************
**********************************SLIDER CLASSES **********************************************
**********************************************************************************************/

.slider{
    width: 100%;
}
.slider-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-item{
    position: relative;
}
.slider .slider-image{
    width: 100%;
}

.slider-item .image-caption {
    position: absolute;
    bottom: 50px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.image-caption .caption-title{
    font-size: 30px;
}